@import '../../../../styles/constants.scss';

.container {
  display: flex;
  gap: 24px;
  width: 100%;
}

.leftSection {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  width: 50%;
}

.rightSection {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.title {
  font-weight: 700;
  color: $colorWhite;
}

.link {
  transition: color 0.3s;

  &:hover {
    color: $colorWhite;
    transition: color 0.3s;
  }
}

.genres {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: calc(100% * 2 / 3);
  max-height: 304px;

  &_list {
    display: grid;
    grid-template: repeat(11, 1fr) / 1fr 1fr;
    row-gap: 8px;
    column-gap: 24px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: calc(100% / 3);
}

.filterSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  &_filters {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.gutter {
  width: 1px;
  height: 100%;
  background-color: $colorGreyTransparent_16;
  &_stripe {
    width: 100%;
    height: 20px;
    background-color: $colorWhite;
    transition: transform 0.2s;
  }
}

.alternativeFilters {
  display: flex;
  gap: 16px;

  &_list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
