@import '../../../styles/constants.scss';

.list {
  display: flex;
  gap: 16px;
}

.link {
  font-weight: 500;
  color: $colorGreyTransparent_48;
  transition: color 0.4s;

  &:hover {
    color: $colorWhite;
    transition: color 0.4s;
  }
}
