@import '../../../styles/constants.scss';

.section {
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  background-color: $colorBackgroundDropdownMenu;
  border-radius: 12px;
  box-shadow: 0 20px 96px #12101b;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;

  &Active {
    opacity: 1;
  }
}

.content {
  display: flex;
  position: relative;
  margin-top: 68px;
  padding: 32px;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $colorGreyTransparent_16;
  }
}
