@import '../../styles/constants.scss';

.main {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  position: relative;
}

.background {
  overflow-x: initial;
  margin-bottom: -548px;
  background: linear-gradient(rgb(173, 169, 183) 0%, rgba(173, 169, 183, 0) 100%);
  width: 100%;
  height: 0;
  padding-bottom: 62.5%;
  opacity: .32;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  pointer-events: none;
  display: block;
}

.infoContainer {
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;

  @media (max-width: $breakpointDesktop) {
    flex-direction: column;
  }
}

.info {
  width: 37.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
  transform: translate3d(0, 0, 0);

  @media (max-width: $breakpointDesktop) {
    width: 100%;
  }
}

.buttonContainer {
  width: 100%;
  border: none;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:hover {
    background-color: $colorGreyTransparent_08;
  }
}

.rating {
  width: 64px;
  height: 64px;
  background-color: $ratingBackground;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include movieCompilationTitle();
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 16px;

  p {
    &:first-of-type {
      @include dominantTextSize(20px, 500);
      color: $colorWhite;
    }

    &:last-of-type {
      @include dominantTextSize(20px, 400);
      color: $colorGreyTransparent_72;
    }
  }
}

.estimate {
  border: 1px solid $colorGreyTransparent_32;
  border-radius: 6px;
  padding: 3px 7px;
  height: 24px;
  color: $colorWhite;
  @include smallTextSize(500);
  margin-right: 10px;
  position: absolute;
  right: 10px;
}