@import '../MoviesFilter.module.scss';

.wrapper {
  position: relative;
  min-width: $tabletButtonWidth;
}

.filter {
  height: 56px;
  width: 100%;
  justify-content: space-between;

  &__title {
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__subtitle {
    width: 100%;
    @include smallTextSize($fw: 500);
    color: $colorGrey;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
  }

  &_active {
    background-color: $colorFilterHover;
  }

  &__icon {
    margin: 0;
    &_rotate {
      transform: rotate(180deg);
    }
  }

  &__textGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
  }
}

@media screen and (min-width: $breakpointTabletLocal) {
  .wrapper {
    min-width: $desktopButtonWidth;
  }
}
