// Breakpoints {
$breakpointPhone: 320px;
$breakpointTablet: 600px;
$breakpointDesktop: 1160px;
// }

// Paddings {
$pagePadding: 32px;
// }

// z-index {
$headerIndex: 3;
$footerIndex: 9;
// }

// Colors {
$colorWhite: #fff;
$colorGreyTransparent_16: rgba(255, 255, 255, 0.16);
$colorGreyTransparent_24: rgba(255, 255, 255, 0.24);
$colorGreyTransparent_32: rgba(255, 255, 255, 0.32);
$colorGreyTransparent_48: rgba(255, 255, 255, 0.48);
$colorGreyTransparent_56: rgba(255, 255, 255, 0.56);
$colorGreyTransparent_72: rgba(255, 255, 255, 0.72);
$colorGreyTransparent_08: rgba(255, 255, 255, 0.08);
$colorLightGrey: #d9d7e0;
$colorGrey: #a5a1b2;
$colorRed: #ea003d;
$colorPurple: #c447ff;
$colorBackgroundPage: #100e19;
$colorBackgroundButton: #1f1b2e;
$colorBackgroundButtonLight: #282338;
$colorBackgroundButtonLightHover: #3a3352;
$colorBackgroundWidget: #312b45;
$colorButtonHover: #2e2844;
$startGradientColor: #a869f0;
$endGradientColor: #834cc2;
$shadowColor: #a869f0;
// }

// Text constants {
@mixin textGradient {
  width: max-content;
  background-image: linear-gradient(-45deg, $colorPurple, $colorRed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin dominantTextSize($lh: 20px, $fw: 400) {
  font-weight: $fw;
  font-size: 15px;
  line-height: $lh;
}

@mixin movieCompilationTitle($isDesktop: false) {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  @if $isDesktop {
    font-size: 24px;
    line-height: 28px;
  }
}

@mixin pageTitle($isDesktop: false) {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;

  @if $isDesktop {
    font-size: 28px;
    line-height: 32px;
  }
}

@mixin moviePageTitle($fs: 32px, $lh: 36px) {
  margin: 0;
  font-weight: 700;
  font-size: $fs;
  line-height: $lh;
}

@mixin smallTextSize($fw: 400) {
  font-weight: $fw;
  font-size: 13px;
  line-height: 16px;
}
// }

@mixin button($p: 9px 15px, $c: $colorRed, $bc: $colorRed, $br: 8px, $fw: 500, $hbc: #ff0f4d) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: $bc;
  border: 1px solid $c;
  border-radius: $br;
  padding: $p;
  color: $colorWhite;
  font-weight: $fw;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $hbc;
    transition: background-color 0.3s;
  }
}
