$breakpointPhone: 420px;

@mixin button($p: 9px 15px, $c: $colorRed, $bc: $colorRed) {
  background-color: $bc;
  border: 1px solid $c;
  border-radius: 8px;
  padding: $p;
  text-align: center;
  color: $colorWhite;
}
