@import '../../../../../styles/constants.scss';

.subtitle {
  width: 100%;
  @include smallTextSize($fw: 500);
  color: $colorGrey;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
}
