@import '../../styles/constants.scss';

.page {
  display: flex;
  justify-content: center;
  padding: 0 $pagePadding;
  min-height: 100vh;
  min-width: $breakpointPhone;
  background-color: $colorBackgroundPage;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  @include dominantTextSize;
  color: $colorWhite;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1216px;
}
