.sort_circle {
  @include button($br: 16px, $bc: #312b45, $c: #312b45, $p: 6px 16px, $hbg: #352f4b);
  color: $colorGrey;
}

.sort_square {
  @include button($br: 4px, $bc: #312b45, $c: #312b45, $p: 12px 16px, $hbg: none);
  justify-content: space-between;
  svg {
    width: 16px;
    margin-top: 2px;
    margin-left: 16px;
  }

  &:active {
    background-color: #7e798f;
  }

  &:disabled {
    background-color: #191524;
    opacity: 0.32;
    cursor: default;
  }
}
