.feedback {
  @include button($c: $colorGreyTransparent_32, $bc: transparent, $p: 7px 11px);
}

.feedback_min {
  @extend .feedback;
  font-size: 13px;
  padding: 3px 7px;
}

.feedback_column {
  @extend .feedback;
  flex-direction: column;
  flex-shrink: 0;
  height: 88px;
  svg {
    width: 34px;
    height: 34px;
  }
}
