@import '../../../styles/constants.scss';

.card {
  position: relative;
  padding-bottom: 15%;
  transition-duration: .4s;
  border-radius: 8px 8px 0 0;

  &:hover {
    transform: scale(1.05) translateY(0);
    transition-duration: .4s;
  }
}

.poster {
  position: relative;
  object-fit: contain;
}

.shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 121%;
  background-image: linear-gradient(0deg, #100e19, rgba(16, 14, 25, 0));
}

.img {
  border-radius: 8px 8px 0 0;
}

.title {
  position: absolute;
  bottom: 54px;
  height: 21.05263158%;
  left: 24px;
  right: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  align-content: flex-end;
  transition-duration: .4s;

  @media (max-width: 743px) {
    bottom: 36px;
    height: 23.22580645%;
    left: 16px;
    right: 16px;
  }
}

.titleImg {
  object-fit: contain;
  z-index: 1;
  object-position: bottom;
}

.num {
  bottom: -33px;
  height: 66px;
  width: 100%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  white-space: nowrap;
  transition-duration: .4s;

  @media (max-width: 743px) {
    height: 44px;
    bottom: -22px;
  }
}

.numImg {
  display: inline-block;
  height: 66px;
  vertical-align: top;

}