@import '../../../styles/constants.scss';

.mainSlider {
  width: 100%;
  height: auto;
  background-color: inherit;
  overflow: initial;

  &Slide {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1400px) {
      width: 1200px !important;
      margin: 0;
    }
  }

  &ButtonPrev,
  &ButtonNext {
    position: absolute;
    top: 0;
    z-index: 4;
    width: 8%;
    height: 100%;

    &:active {
      transform: scale(0.8);
      transition: transform 80ms;
    }

    @media screen and (min-width: $breakpointTablet) {
      display: flex;
      justify-content: center;
      align-items: center;

      &::after {
        font-size: 32px;
      }
    }

    @media screen and (max-width: $breakpointTablet) {
      display: none;
    }
  }

  &ButtonPrev {
    left: 0;
  }

  &ButtonNext {
    right: 0;
  }
}

.container {
  @media screen and (min-width: 1400px) {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
  }
}

.slideContainer {
  &Active {
    position: relative;
    z-index: 3;

    &::after,
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 20%;
      height: 100%;
      z-index: 2;
    }

    &::after {
      top: 0;
      right: -20%;
      background-image: linear-gradient(90deg, rgba(31, 27, 46, 0), rgba(31, 27, 46, 0.72));
    }

    &::before {
      top: 0;
      left: -20%;
      background-image: linear-gradient(270deg, rgba(31, 27, 46, 0), rgba(31, 27, 46, 0.72));
    }
  }

  &NotActive {
    opacity: 0.24;
    transition: opacity 0.4s;
  }
}
