@import '../../../styles/constants.scss';

.slider {
  position: relative;
  width: auto;
  height: auto;

  &ButtonPrev,
  &ButtonNext {
    position: absolute;
    top: 50%;
    z-index: 5;

    &:disabled {
      opacity: 0;
    }

    @media (max-width: $breakpointTablet) {
      display: none;
      
    }
  }

  &ButtonPrev {
    left: -6px;
    transform: translate(-100%, -50%);
    flex-direction: row-reverse;
  }

  &ButtonNext {
    right: -6px;
    transform: translate(100%, -50%);
  }
}

.btnHidden {
  visibility: hidden;
  opacity: 0;
  transition-duration: .4s;
}