@import '../../../styles/constants.scss';

.slider {
  position: relative;
  width: auto;
  height: auto;

  &ButtonPrev,
  &ButtonNext {
    position: absolute;
    top: 50%;
    z-index: 5;
    &:disabled {
      opacity: 0;
    }
  }
  &ButtonPrev {
    left: -6px;
    transform: translate(-100%, -50%);
    flex-direction: row-reverse;
  }

  &ButtonNext {
    right: -6px;
    transform: translate(100%, -50%);
  }
}
