@import '../../styles/constants.scss';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 48px 0;
  border-bottom: 1px solid rgba(255, 255, 255, .16);
  border-top: 1px solid rgba(255, 255, 255, .16);
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 48px 0 33px;
  width: 100%;
}

.storeLinks {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 12px;
}

.socialNetworkLinks {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; 
  width: 100%;
}

.listItem {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
  margin-top: 9px;
}

.supportText {
  margin: 8px 0 20px;
}

.link {
  @include dominantTextSize();
  color: $colorGreyTransparent_48;
  transition-duration: .4s;

  &:hover {
    color: $colorWhite;
  }
}

.title {
  @include dominantTextSize(20px, 700);
  color: $colorWhite
}

.specialLink {
  @include dominantTextSize(20px, 500);
  @include textGradient;
}

.text {
  @include dominantTextSize();
  color: $colorGreyTransparent_48;
}

.linkReverse {
  color: $colorWhite;
  transition-duration: .4s;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  

  &:hover {
    color: $colorGreyTransparent_48;
  
  }
}

.icon {
  width: 16px;
  height: 16px; 
}

.support {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.contacts {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 12px;
  margin: 12px 0 23px;
  position: relative;
  transition-duration: .4s;
}

.advertisment {
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 24px;
}

.advertismentIcon {
  width: 104px;
  height: 104px;
  background-image: linear-gradient(180deg, $startGradientColor 0, $endGradientColor 100%);
  box-shadow: 0 0 104px $shadowColor;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    width: 60px;
    height: 3px;
    background-color: $colorWhite;
    position: absolute;
    left: 20px;
    top: 50px;
    rotate: 75deg;
    z-index: 1;
  }

  &::after {
    content: "";
    width: 40px;
    height: 9px;
    background-image: linear-gradient(90deg, $startGradientColor 0, $endGradientColor 100%);
    position: absolute;
    left: 30px;
    top: 48px;
    rotate: 75deg;
  }
}

.horn {
  width: 66px;
  height: 66px;
}
